In [1]:
import numpy as np
import pandas as pd

In [5]:
s1 = pd.Series(np.random.randn(1,4).tolist()[0],index=['A','B','C','D'])

In [6]:
s1

A    1.508635
B   -0.422740
C   -0.283983
D    1.020990
dtype: float64

In [8]:
s2 = s1.reindex(['A','B','C','D','E','F','G'])

In [9]:
s2

A    1.508635
B   -0.422740
C   -0.283983
D    1.020990
E         NaN
F         NaN
G         NaN
dtype: float64

In [10]:
s2 = s1.reindex(['A','B','C','D','E','F','G','H'], fill_value=0)

In [11]:
s2

A    1.508635
B   -0.422740
C   -0.283983
D    1.020990
E    0.000000
F    0.000000
G    0.000000
H    0.000000
dtype: float64

# dataframe reindex

In [12]:
df = pd.DataFrame(np.random.randn(4,4), index=['r1','r2','r3','r4'], columns =['c1','c2','c3','c4'])

In [13]:
df

          c1        c2        c3        c4
r1 -0.154281 -0.670556  0.096901 -1.606268
r2 -0.081876 -0.296727 -0.366063 -0.448000
r3 -0.314884  1.477169  0.303480  1.202355
r4  0.968860 -0.723945  0.974238  0.076671

In [15]:
df.reindex(['r1','r2','r6','r3','r4','r5'])

          c1        c2        c3        c4
r1 -0.154281 -0.670556  0.096901 -1.606268
r2 -0.081876 -0.296727 -0.366063 -0.448000
r6       NaN       NaN       NaN       NaN
r3 -0.314884  1.477169  0.303480  1.202355
r4  0.968860 -0.723945  0.974238  0.076671
r5       NaN       NaN       NaN       NaN

In [16]:
df.reindex(columns=['c1','c2','c3','c5','c4'])

          c1        c2        c3  c5        c4
r1 -0.154281 -0.670556  0.096901 NaN -1.606268
r2 -0.081876 -0.296727 -0.366063 NaN -0.448000
r3 -0.314884  1.477169  0.303480 NaN  1.202355
r4  0.968860 -0.723945  0.974238 NaN  0.076671