In [2]:
import numpy as np
import pandas as pd

In [4]:
s1 = pd.Series(np.arange(5),index=['A','B','C','D','E'])

In [5]:
s1

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [7]:
s2 = pd.Series(np.arange(3),index=['A','B','C'])

In [8]:
s2

A    0
B    1
C    2
dtype: int64

In [9]:
s1 + s2 #df size is same as the larger one which is s1

A    0.0
B    2.0
C    4.0
D    NaN
E    NaN
dtype: float64

In [13]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'], columns=['c1','c2','c3','c4','c5'])

In [14]:
df1

          c1        c2        c3        c4        c5
r1  0.239467 -1.160637 -2.157915 -1.648692 -1.924023
r2 -0.864808 -0.516893 -0.334251  0.020314 -0.870798
r3 -2.013520  0.651037  0.570295 -0.823367 -0.366231
r4 -0.405510  0.046212  1.004787  0.441871  0.684887

In [15]:
df2 = pd.DataFrame(np.random.randn(3,4),index=['r1','r2','r3'], columns=['c1','c2','c3','c4'])

In [16]:
df1 + df2

          c1        c2        c3        c4  c5
r1  1.287463 -0.088747 -1.495887 -1.124039 NaN
r2 -0.899146 -1.409190 -0.723367 -0.628082 NaN
r3 -2.469999 -0.621590  1.519969 -1.276153 NaN
r4       NaN       NaN       NaN       NaN NaN

In [18]:
df1.add(df2,fill_value=1) #注意df2的四行五列被fill了1

          c1        c2        c3        c4        c5
r1  1.287463 -0.088747 -1.495887 -1.124039 -0.924023
r2 -0.899146 -1.409190 -0.723367 -0.628082  0.129202
r3 -2.469999 -0.621590  1.519969 -1.276153  0.633769
r4  0.594490  1.046212  2.004787  1.441871  1.684887

In [19]:
s3 = df1.iloc[0]#extrac first row

In [20]:
s3

c1    0.239467
c2   -1.160637
c3   -2.157915
c4   -1.648692
c5   -1.924023
Name: r1, dtype: float64

In [22]:
df2

          c1        c2        c3        c4
r1  1.047997  1.071890  0.662028  0.524654
r2 -0.034338 -0.892298 -0.389116 -0.648396
r3 -0.456479 -1.272627  0.949674 -0.452787

In [23]:
df2-s3

          c1        c2        c3        c4  c5
r1  0.808530  2.232527  2.819943  2.173346 NaN
r2 -0.273805  0.268339  1.768799  1.000296 NaN
r3 -0.695945 -0.111990  3.107589  1.195906 NaN