In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Data Frame

In [34]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]], index = ['A','B'],columns = ['c1','c2','c3'])

In [35]:
df1

   c1  c2  c3
A   1   2   3
B   4   5   6

In [7]:
df1.values

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
df1.index

Index(['A', 'B'], dtype='object')

In [9]:
df1.columns

Index(['c1', 'c2', 'c3'], dtype='object')

In [10]:
df1.T #index and columns transpose

    A  B
c1  1  4
c2  2  5
c3  3  6

In [11]:
df1.shape

(2, 3)

In [13]:
df1.size

6

# Method

In [16]:
df1.head(1)

   c1  c2  c3
A   1   2   3

In [17]:
df1.tail(1)

   c1  c2  c3
B   4   5   6

In [18]:
df1.describe()#statistics for columns

            c1       c2       c3
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [21]:
df1.loc['B'] #extract series

c1    4
c2    5
c3    6
Name: B, dtype: int64

In [23]:
df1.loc['B'].loc['c2'] #extract element (index first column second)

5

In [25]:
df1['c2'].loc['B']#method 2--columns first index second

5

In [26]:
df1.loc['B','c2']#method3

5

In [27]:
df1

   c1  c2  c3
A   1   2   3
B   4   5   6

In [28]:
df1 + 10*15 #element-wide calculation

    c1   c2   c3
A  151  152  153
B  154  155  156

In [36]:
df1['c2'] = df1.apply(lambda x: x['c2'] ** 2 + 10, axis=1) # the x shows here represents df1

In [37]:
df1

   c1  c2  c3
A   1  14   3
B   4  35   6

# Titanic Example

In [38]:
df = pd.read_csv('train.csv')

FileNotFoundError: File b'train.csv' does not exist