In [1]:
import numpy as np
import pandas as pd

In [3]:
# Make DataFrame
animals = pd.DataFrame(np.arange(16).reshape(4,4),
                      columns = ['W','X','Y','Z'],
                      index = ['Dog','Cat','Horse','Rabbit'])
animals.loc[1:2,['W','Y']] = np.nan

In [4]:
animals

           W   X     Y   Z
Dog      0.0   1   2.0   3
Cat      NaN   5   NaN   7
Horse    8.0   9  10.0  11
Rabbit  12.0  13  14.0  15

In [5]:
behaviour_map = {'W':'Good','X':'Bad','Y':'Good','Z':'Bad'}

In [6]:
# grouoby using the mapping dictionary
animal_col = animals.groupby(behaviour_map, axis=1)#based on columns instead of the rows

In [7]:
animal_col.sum()

         Bad  Good
Dog      4.0   2.0
Cat     12.0   NaN
Horse   20.0  18.0
Rabbit  28.0  26.0

In [8]:
# Series
behav_series = pd.Series(behaviour_map) #convert map to series

In [9]:
behav_series

W    Good
X     Bad
Y    Good
Z     Bad
dtype: object

In [10]:
# grouoby by using the series
animals.groupby(behav_series,axis=1).count()

        Bad  Good
Dog       2     2
Cat       2     0
Horse     2     2
Rabbit    2     2

In [11]:
# group by function -> len ##group by based on the length of the name
animals.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
5   8.0   9  10.0  11
6  12.0  13  14.0  15

In [12]:
# mixture with arrays, dicts, funtions, series in groupby method
keys = ['A','B','A','B']

In [13]:
animals.groupby([len,keys]).max()

        W   X     Y   Z
3 A   0.0   1   2.0   3
  B   NaN   5   NaN   7
5 A   8.0   9  10.0  11
6 B  12.0  13  14.0  15