In [2]:
#Doc string usage 
import turtle
def draw_square(animal, size):
    """
    Make animal draw a square with sides of length size.
    """
    for _ in range(4):
        animal.forward(size)
        animal.left(90)

In [10]:
#String Handling
s = "this is a snake!"
s

'this is a snake!'

In [11]:
def_pos = s.find("snake")

In [12]:
def_pos

10

In [14]:
fname = s[2:4] #include 2 but exclude 4

In [15]:
fname

'is'

In [24]:
# To find the location of the second or third occurence of a character:
def find2(haystack, needle, start):
    for index,letter in enumerate(haystack[start:]):
        if letter == needle:
            return index + start
    return -1

In [26]:
find2("This is my favourite song","s",0)

3

In [27]:
#The built-in find
"banana".find("na",3) #3 means start from position 3

4

In [28]:
#string.punctuation is in string module

In [30]:
#The string format method
phrase = "his name is {0}!".format("Arthur")
print(phrase)

his name is Arthur!

In [31]:
name = "Alice"
age = "25"
phrase = "I am {1} and I am {0} years old".format(age,name)

In [32]:
phrase

'I am Alice and I am 25 years old'

In [33]:
x = 4
y = 5 
phrase = "2**10 = {0} and {1}*{2}={3:f}".format(2**10,x,y,x*y) #converted {3} to float
print(phrase)

2**10 = 1024 and 4*5=20.000000

In [35]:
phrase = "2**10 = {0} and {1}*{2}={3:.2f}".format(2**10,x,y,x*y)
phrase

'2**10 = 1024 and 4*5=20.00'

In [38]:
name1 = "Paris"
name2 = "Whitney"
name3 = "Hilton"

print("{0:<15} ||| {1:^15} ||| {2:>15} ||| Born in {3} |||".format(name1,name2,name3,1981))

Paris           |||     Whitney     |||          Hilton ||| Born in 1981 |||

In [39]:
# tuple
bob = ("Bob", 19, "CS")
(name, age, studies) = bob

In [40]:
name

'Bob'

In [41]:
age

19

In [42]:
studies

'CS'

In [43]:
#dictionary
english_spanish = {}
english_spanish ["one"] ="uno"
english_spanish ["two"] = "dos"

In [44]:
english_spanish

{'one': 'uno', 'two': 'dos'}

In [45]:
#keys(),items(),values()

In [ ]:
#read and write files 
def filter(oldfile,newfile):
    with open(oldfile, "r") as infile, open(newfile,"w") as outfile:
        for line in infile:
            #put some processing logic here
            if not line.startswith('#'):
                outfile.write(line)